In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("UNCC_sampled.csv")
data

,Date,Mobile Device Type,cchannel (eVar19) (evar19),qformuid (evar1),TreeAuthID (evar50),Visit Number,Product Reporting,Visitor_ID,csource (eVar20) (evar20),GeoSegmentation States,...,FCS Qform Optin Completed (ev373) (event373),FCS Client Signup Completed (ev73) (event73),Lender Not Matched (ev522) (event522),FormSubmit in Express Offers (ev58) (event58),Lenders Matched (ev501) (event501),Page Views,Credit Card Apply Clicked (ev69) (event69),MyLT Session Started (ev189) (event189),Express No Offers (ev13) (event13),Express Visited (ev290) (event290)
0,"January 1, 2018",Gaming Console,content,NaN,NaN,1,NaN,7732198244151778867_4134450918576237336,outbrain,texas (united states),...,0,0,0,0,0,1,0,0,0,0
1,"January 1, 2018",Gaming Console,display,11633f92-360a-448f-b416-755ea16b6419,NaN,4,Refinance,2431284746265101166_8567539867164911934,google_display_network,virginia (united states),...,0,0,0,0,0,1,0,0,0,0
2,"January 1, 2018",Gaming Console,display,3786b340-e685-4798-8004-6ee5807934c3,NaN,2,Refinance,5951927093440429627_8402229250223050888,google_display_network,florida (united states),...,0,0,0,0,0,1,0,0,0,0
3,"January 1, 2018",Gaming Console,display,3eb4e8c0-dd45-4001-820f-0a83980472d8,NaN,1,Refinance,9095128932057308643_5744753714959771864,cnn_com,ohio (united states),...,0,0,0,0,0,0,0,0,0,0
4,"January 1, 2018",Gaming Console,display,50aad01f-07a3-45ec-a575-65d89900168f,NaN,1,Refinance,7144494725347131737_7936627049048254284,google_display_network,california (united states),...,0,0,0,0,0,1,0,0,0,0
5,"January 1, 2018",Gaming Console,display,6e1c1405-ffe0-486e-9bbd-46b62efa71e0,NaN,1,NaN,3840395548288420783_2563166581193760536,criteo,oregon (united states),...,0,0,0,0,0,1,0,0,0,0
6,"January 1, 2018",Gaming Console,display,b2b0ad9e-1a0d-4153-88c1-db3564acf2be,NaN,5,Refinance,5951927093440429627_8402229250223050888,google_display_network,florida (united states),...,0,0,0,0,0,1,0,0,0,0
7,"January 1, 2018",Media Player,content,72650659-e1b0-4a0c-9bc0-da2152f4f0a3,NaN,1,Refinance,9193455551599519817_2133625214278931623,taboola,maine (united states),...,0,0,0,0,0,13,0,0,0,0
8,"January 1, 2018",Media Player,display,29f06188-b6ad-415f-9565-42d9e66f7c9a,NaN,3,Refinance,4427865552475720477_747171176657803548,google_display_network,california (united states),...,0,0,0,0,0,1,0,0,0,0
9,"January 1, 2018",Media Player,display,5f1df36c-fbd2-4e53-aaa9-ad02563a19b1,NaN,1,Refinance,1114696381134181432_6527712537278417460,google_display_network,new hampshire (united states),...,0,0,0,0,0,1,0,0,0,0
10,"January 1, 2018",Media Player,display,cff11909-1619-420f-80ce-bdfb8579141f,NaN,1,Refinance,9117345142982298598_3577160519644552955,google_display_network,pennsylvania (united states),...,0,0,0,0,0,1,0,0,0,0
11,"January 1, 2018",Media Player,sem,NaN,NaN,1,NaN,3489213251580014308_7398156064548572149,google,connecticut (united states),...,0,0,0,0,0,1,0,0,0,0
12,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,1045083400990673712_8865219555642043783,NaN,wisconsin (united states),...,0,0,0,0,0,0,0,0,0,0
13,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,104959404389931813_7664988777389669386,NaN,illinois (united states),...,0,0,0,0,0,0,0,0,0,0
14,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,1187440273274509770_6264289359886443009,NaN,north carolina (united states),...,0,0,0,0,0,1,0,0,0,0
15,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,1259023831_2274431552,NaN,kansas (united states),...,0,0,0,0,0,0,0,0,0,0
16,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,1422243278321408217_1794656872289764929,NaN,california (united states),...,0,0,0,0,0,5,0,0,0,0
17,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,1470397279149965160_4056554722587805186,NaN,florida (united states),...,0,0,0,0,0,0,0,0,0,0
18,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,1529432820598411557_4243204992246694562,NaN,pennsylvania (united states),...,0,0,0,0,0,1,0,0,0,0
19,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,1709893692233310714_6128893313841640312,NaN,california (united states),...,0,0,0,0,0,0,0,0,0,0
20,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,1745541608653249458_7227558626993931477,NaN,connecticut (united states),...,0,0,0,0,0,0,0,0,0,0
21,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,1861684549292256734_6435018148321770551,NaN,illinois (united states),...,0,0,0,0,0,0,0,0,0,0
22,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,2169372723960481604_258221103072382442,NaN,ohio (united states),...,0,0,0,0,0,0,0,0,0,0
23,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,2176559230035865039_6028598558958540714,NaN,florida (united states),...,0,0,0,0,0,1,0,0,0,0
24,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,2187762442256815536_577073384131518846,NaN,illinois (united states),...,0,0,0,0,0,2,0,0,0,0
25,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,2208096828633599876_2524339848122002493,NaN,tennessee (united states),...,0,0,0,0,0,1,0,0,0,0
26,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,2385508582254797716_2877051979529532200,NaN,hawaii (united states),...,0,0,0,0,0,2,0,0,0,0
27,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,2390655788272990649_62550287593796688,NaN,texas (united states),...,0,0,0,0,0,1,0,0,0,0
28,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,265569730221593432_960506058289255664,NaN,florida (united states),...,0,0,0,0,0,1,0,0,0,0
29,"January 1, 2018",Mobile Phone,NaN,NaN,NaN,1,NaN,2666065567448156575_1758368723776643525,NaN,texas (united states),...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999970,"March 31, 2018",Tablet,social,825c3698-10b7-4220-961b-1533c18cdcf2,NaN,1,Home Equity,3051979247278651597_1747618519581597787,facebook,NaN,...,0,0,0,0,0,0,0,0,0,0
2999971,"March 31, 2018",Tablet,social,8679ce4b-858d-4f44-879e-8aa74500f62c,NaN,1,Refinance,2738442238085665918_990351591870728288,facebook,michigan (united states),...,0,0,0,0,0,1,0,0,0,0
2999972,"March 31, 2018",Tablet,social,8f479841-a226-4268-bfb9-29379c3d0dac,NaN,2,Refinance,1646352285053351098_6409211271956440438,facebook,florida (united states),...,0,0,0,0,0,2,0,0,0,0
2999973,"March 31, 2018",Tablet,social,92bf958d-144d-4c8d-9660-7ee5ecf57b09,NaN,1,Refinance,5114480043169172160_7365765535012175437,facebook,iowa (united states),...,0,0,0,0,0,3,0,0,0,0
2999974,"March 31, 2018",Tablet,social,948cbac7-5b7d-464b-9596-15f394cfaaf7,NaN,1,Refinance,3246095022172648006_8077228896379968432,facebook,florida (united states),...,0,0,0,0,0,15,0,0,0,0
2999975,"March 31, 2018",Tablet,social,98fc3609-be3f-423b-9fe7-b42afa9495e1,E0D9EBFF-C584-4310-AE32-819858602882,1,Refinance,3240927275185045235_5530436119790542375,facebook,wisconsin (united states),...,0,0,0,0,0,0,0,1,0,0
2999976,"March 31, 2018",Tablet,social,ac3956aa-7489-47ab-9692-82a850080dc0,NaN,4,Home Equity,5304079996295371104_7011336579965780622,facebook,nevada (united states),...,0,0,0,0,0,12,0,0,0,0
2999977,"March 31, 2018",Tablet,social,ad1b4f66-d1af-459b-9ddd-6cdf6226466b,NaN,1,Refinance,8483525528106927794_2673086322689744123,facebook,alabama (united states),...,0,0,0,0,0,10,0,0,0,0
2999978,"March 31, 2018",Tablet,social,b25b1269-ec20-4802-b44e-6fb52045fafe,NaN,1,Reverse Mortgage,9043133843423443410_8204087265487757541,facebook,indiana (united states),...,0,0,0,0,0,0,0,0,0,0
2999979,"March 31, 2018",Tablet,social,b683aec3-52ef-4368-85eb-c546ff6843b9,NaN,2,Home Equity,9109085113933575167_8450540456129197116,facebook,washington (united states),...,0,0,0,0,0,14,0,0,0,0
2999980,"March 31, 2018",Tablet,social,cb88317e-2fb6-4a2d-a465-a540311cc9fc,NaN,6,Refinance,8327752951312178669_4350632102071809266,facebook,ohio (united states),...,0,0,0,0,0,2,0,0,0,0
2999981,"March 31, 2018",Tablet,social,cfe78332-bc51-469f-8dec-2d387f2febe4,NaN,1,Reverse Mortgage,6521518076249051288_170989669137599378,facebook,maryland (united states),...,0,0,0,0,0,2,0,0,0,0
2999982,"March 31, 2018",Tablet,social,d62f3e2a-761e-4a6e-9a16-1364824f8ca5,NaN,1,Refinance,4796933794897345781_9074123827845285920,facebook,california (united states),...,0,0,0,0,0,1,0,0,0,0
2999983,"March 31, 2018",Tablet,social,dbcfeb41-34b2-4a74-85c7-4fba66d2ac95,NaN,1,Home Equity,7451410055334752245_3976694653819187675,facebook,arizona (united states),...,0,0,0,0,0,2,0,0,0,0
2999984,"March 31, 2018",Tablet,social,dd151baa-f8cb-4ee1-a1dc-01198791726c,NaN,1,Refinance,4913048079387628918_1089507600208746906,facebook,wisconsin (united states),...,0,0,0,0,0,2,0,0,0,0
2999985,"March 31, 2018",Tablet,social,e1984109-bd55-4cfe-af64-8cf6eb95d67a,NaN,2,Reverse Mortgage,8474581500137750173_5136818749239876599,facebook,georgia (united states),...,0,0,0,0,0,2,0,0,0,0
2999986,"March 31, 2018",Tablet,social,ea44c6ad-7fe2-439e-8265-059c61172790,NaN,6,Personal,7720872791210408324_8879797385298154805,facebook,iowa (united states),...,0,0,0,1,0,19,0,0,0,1
2999987,"March 31, 2018",Tablet,social,ecd83ebb-7c5d-46ab-8e57-9dbe0ebcb61d,NaN,1,Refinance,5994743140573466289_8324263188458442866,facebook,massachusetts (united states),...,0,0,0,0,0,14,0,0,0,0
2999988,"March 31, 2018",Tablet,social,ee4c9abf-a8cd-481b-8cc8-27ed387b5315,NaN,1,Personal,9188550043008780488_4850355055447701044,facebook,texas (united states),...,0,0,0,1,0,17,0,0,0,1
2999989,"March 31, 2018",Tablet,social,efa1e089-2835-4334-ab56-4de70bc5b4c3,NaN,1,Personal,5323512665458820856_7775738120685041918,facebook,NaN,...,0,0,0,0,0,0,0,0,0,0
2999990,"March 31, 2018",Tablet,social,f10a11ee-02a8-4611-ba84-b50be2205c53,NaN,1,Refinance,766898386836426486_333606159780703640,facebook,south carolina (united states),...,0,0,0,0,0,13,0,0,0,0
2999991,"March 31, 2018",Tablet,social,f1d8820f-c71b-45fd-843a-57432955713d,NaN,1,Refinance,1357136127484184611_7795052461046766783,facebook,maine (united states),...,0,0,0,0,0,0,0,0,0,0
2999992,"March 31, 2018",Tablet,social,f3780742-27e5-4d24-b7cf-b54453cedf98,NaN,7,Home Equity,3528547527917538180_9193024247769513026,facebook,minnesota (united states),...,0,0,0,0,0,2,0,0,0,0
2999993,"March 31, 2018",Tablet,social,f4851b2e-896c-4f7c-a3ae-37d8bddae1ac,NaN,1,Home Equity,3264145751606072124_6180621495646959649,facebook,north carolina (united states),...,0,0,0,0,0,17,0,0,0,0
2999994,"March 31, 2018",Tablet,social,f5a143ba-7459-422b-90de-7903ecbf3ff6,NaN,1,Refinance,2003904564397611122_2333946102998197800,facebook,pennsylvania (united states),...,0,0,0,0,0,16,0,0,0,0
2999995,"March 31, 2018",Tablet,social,f5f9edd5-863a-4a52-82f2-64358a78ff4f,NaN,1,Refinance,7810249774068803828_1451769962635146022,facebook,texas (united states),...,0,0,0,0,0,14,0,0,0,0
2999996,"March 31, 2018",Tablet,social,f7e3823c-2448-44ca-ac9d-e04f0cfab570,NaN,1,Refinance,8762888264550505899_5640656065562841355,facebook,new york (united states),...,0,0,0,0,0,2,0,0,0,0
2999997,"March 31, 2018",Tablet,social,fa657e24-015f-4428-ba7f-5f01827d49aa,NaN,1,Refinance,7261415900882717536_9011511284836752937,facebook,north carolina (united states),...,0,0,0,0,0,4,0,0,0,0
2999998,"March 31, 2018",Tablet,social,ffe49eea-db4c-451b-bb32-552eba91a301,NaN,2,Refinance,1424466302144561995_4869641668604106504,facebook,hawaii (united states),...,0,0,0,0,0,4,0,0,0,0
2999999,"March 31, 2018",Television,social,e54f9fa2-30f5-49d6-9831-a541a6068681,NaN,2,Reverse Mortgage,7372713496116095101_5854958976938423674,facebook,illinois (united states),...,0,0,0,0,0,6,0,0,0,0

In [4]:
print(data.shape)
data.columns

(3000000, 24)

Index(['Date', 'Mobile Device Type', 'cchannel  (eVar19) (evar19)',
       'qformuid (evar1)', 'TreeAuthID (evar50)', 'Visit Number',
       'Product Reporting', 'Visitor_ID', 'csource (eVar20) (evar20)',
       'GeoSegmentation States', 'FormStart (ev57) (event57)',
       'Form Engagement 1 (ev11) (event11)',
       'Form Engagement 2 (ev12) (event12)',
       'Form Conversion (ev59) (event59)',
       'FCS Qform Optin Completed (ev373) (event373)',
       'FCS Client Signup Completed (ev73) (event73)',
       'Lender Not Matched (ev522) (event522)',
       'FormSubmit in Express Offers (ev58) (event58)',
       'Lenders Matched (ev501) (event501)', 'Page Views',
       'Credit Card Apply Clicked (ev69) (event69)',
       'MyLT Session Started (ev189) (event189)',
       'Express No Offers (ev13) (event13)',
       'Express Visited (ev290) (event290)'],
      dtype='object')

In [5]:
#update this list with the column names of the data paramater to be used
columns_to_use = ['Date','GeoSegmentation States']
#new dataframe of just the sesired columns
small_data = data[columns_to_use]
#update output file with desired name
small_data.to_csv('small_UNCC.csv', sep=',')